*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.model-y{
    background-image: url(./y-img/model\ y.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.search-side ul li a:hover{
    transition: 0.6s;
    font-size: 18px;
}
.model-y:hover{
    background: url(./y-img/model-y\ hover.avif);
    background-size: cover;
    transition: 4s;
    background-repeat: no-repeat;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.list ul li a:hover{
    color: #222;
    background-color: rgb(220, 252, 255);
    border-radius: 5px;
    transition: 0.8s;
    padding: 0.2rem 0.7rem;
}
.logo:hover{
    padding: 1rem;
    transition: 0.8s;
}
.row{
    display: flex;
}
.jsc{
    justify-content: space-between;
}
.logo{
    width: 15%;
}
.logo img{
    width: 80%;
    padding: 18px 0 0 0;
}
.li{
    line-height: 60px;
}
.list ul li ,.search-side ul li {
    list-style: none;
}
.list ul li a{
    text-decoration: none;
    color: #303030;
    font-weight: 600;
}
.search-side ul li a ,.search-side ul li{
    text-decoration: none;
    color: #303030  ;
    font-weight: 600;
}
.list ul li {
    padding: 0 10px;
}
.list ul li{
    padding:  0 25px;
}
.search-side ul li{
    padding: 0 30px 0 10px;
}
.head h1{
    text-align: center;
    font-size: 45px;
    padding: 9rem 0 0.5rem 0;
}
.head h4{
    text-align: center;
    font-weight: 300;
}
.btn , .btn2{
    margin: auto;
}
.btn input{
    color: #fff;
    background-color: transparent;
    border: 4px solid #fff;
    padding: 5px 50px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}
.button{
    padding: 25rem 0 5rem 15rem ;
}
.btn input:hover{
    background-color: #fff;
    color: #303030;
    transition: all .8s;

}
.navbar{
    position: fixed;
}
.data h1{
    color: #fff;
    font-size: 2rem;
}
.data p{
    color: #fff;
}
.data{
    padding: 0 3rem;
}
/* sefty-page */
.sefty-page{
    background-color: #fff;
}
.col-70{
    width: 70%;
}
.col-30{
    width: 30%;
}
.img-3 img{
    width: 100%;
}
.img-3 img:hover{
    transition: all 0.8s;
    padding: 4rem;  
}
.img-3{
    padding: 11rem 0;
}
.text-side{
    padding: 4rem 0 0 0 ;
}
.text-side h1{
    font-size: 40px;
    font-weight: 500;
    padding: 1rem 0;
}
.text-side h4{
    font-size: 20px;
    font-weight: 400;
    padding: 1rem 0;
}
.learn-more h1{
    font-size: 16px;
    padding: 0;
}
.learn-more h1 span{
    border: 2px solid;
    padding: 4px 11px;
    font-size: 20px;
    border-radius: 100%;
}
.learn-more h1 span:hover{
    background-color: #303030;
    color: #fff;
    transition: all .8s;
}
.learn-more input{
    color: #303030;
    border: 2px solid #303030;
    padding: 0px 50px;
    background-color: transparent;
    font-size: 20px;
}
.learn-more input:hover{
    background-color: #303030;
    color: #fff;
    transition: all .8s;

}
.learn-more{
    padding: 5rem 0 0 0 ;
}
.but{
    padding: 0 3rem;
}
.lover-side{
    background-color: #fff;
}
.side-4{
    width: 80%;
}
.no-5 h4{
    font-size: 20px;
    font-weight: 400;
    color: #303030;
}
.no-5  h1{
    font-size: 28px;
    font-weight: 550;
    padding: 1rem 0;
    color:  #303030;
}
.h2-2 h1{
    font-size: 20px;
    font-weight: 400;
    color:  #303030;
}
.h2-2 h1 span{
    border: 2px solid;
    padding: 4px 11px;
    font-size: 20px;
    border-radius: 100%;
    color:  #303030;
}
.h2-2 h1 span:hover{
    background-color: #303030;
    color:   #303030;
    transition: all .8s;
}
.but2-2 input{
    /* color: #303030; */
    background-color: transparent;
    border: 2px solid  #303030;
    padding: 5px 60px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    color:  #303030;
    font-weight: 700;
}
.but2-2{
    padding: 0.5rem 0 0 2rem;
}
.but2-2 input:hover{
    background-color:  #303030;;
    color: #fff;
    font-weight: 700;
    transition: all .8s;
}
.no-5{
    padding: 3rem 0;
}
.right2-side{
    padding: 5rem 0rem 0 11rem;
}
.right2-side p{
    font-size: 17px;
    font-weight: 300;
    color:  #303030;
}
.but1-1 input{
    color:  #303030;
    background-color: rgb(233, 233, 233);
    border: none;
    padding: 5px 50px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}
.but1-1{
    padding: .5rem 0 0 0;
}
.but1-1 input:hover{
    color:  #fff;
    background-color: rgb(163, 158, 158);
    transition: all .8s;
}
/* back shite */
.shite-img{
    background-image: url(./y-img/back\ shite.jpeg);
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    border-radius: 1rem;
}
.shite-img:hover{
    background-image: url(./y-img/back\ img\ 2.jpeg);
    transition: all 2s ease-in;
}
.sec-backsit{
    padding: 1rem 2rem 1rem 2rem;
}
/* all-will-drive */
.all-will-drive{
    background-image: url(./y-img/dual\ img.jpeg);
    background-size: cover;
}
.icn i{
    color: #fff;
    font-size: 30px;
}
.icn{
    text-align: center; 
}
 .but-1 input{
    color: #303030;
    background-color: rgb(226, 224, 224);
    border: none;
    padding: 5px 50px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}
.but-1{
    padding: .5rem 0 0 0;
}
/* last-video */
.range-vedio{
    background-color: #fff;
}
.col-70{
    width: 70%;
}
.col-30{
    width: 30%;
}
.img video{
    width: 100%;
}
.img{
    padding: 0rem 0;
}
.text-side p{
    padding: 0rem 0 0 3rem ;
}
.text-side h1{
    font-size: 40px;
    font-weight: 500;
    padding: 1rem 0rem 1rem 3rem;
}
.text-side h4{
    font-size: 20px;
    font-weight: 400;
    padding: 4rem 0rem 0rem 3rem;
}
.learn-more h1{
    font-size: 15px;
    padding: 0;
}
.learn-more h1 span{
    border: 2px solid;
    padding: 4px 11px;
    font-size: 20px;
    border-radius: 100%;
}
.learn-more h1 span:hover{
    background-color: #303030;
    color: #fff;
    transition: all .8s;
}
/* .learn-more input{
    color: #303030;
    border: 2px solid #303030;
    padding: 0px 50px;
    background-color: transparent;
    font-size: 20px;
}
.learn-more input:hover{
    background-color: #303030;
    color: #fff;
    transition: all .8s;

} */
.learn-more{
    padding: 5rem 0 0 0 ;
}
.but-a {
   padding: 13rem 0rem 1rem 5rem;
}
.but-b{
    padding: 0rem 0rem 1rem 5rem;;
}
.but-a input{
    color: #303030;
    border: 3px solid #303030;
    background-color: transparent;
    font-weight: 700;
    padding: 0.5rem 8rem 0.5rem 8rem;
}
.but-a input:hover{
    color: #fff;
    background-color: #303030;
    transition: 0.8s;
}
.but-b input{
    color: #303030;
    border: none;
    font-weight: 600;
    background-color: rgb(220, 220, 220);
    padding: 0.5rem 7.3rem 0.5rem 7.3rem;
}
.but-b input:hover{
    color: #303030;
    background-color: rgb(175, 171, 171);
    transition: 0.8s;
}
/* second-last */
.specs{
    background-color: black;
}
.col-45{
    width: 45%;
}
.col-50{
    width: 50%;
}
.sec-l h2, .sec-r h2{
    color: #fff;
    padding: 1rem 0 0 0;
    font-weight: 400;
}
.sec-l h1{
    color: #fff;
    padding: 3rem 0 1rem 0;
    font-size: 2.5rem;
    font-weight: 500;
}
.sec-l h1 span,.sec-r h1 span{
    font-weight: 300;
}
.sec-l h4 , .sec-r h4{
    color: #fff;
    padding: 0 0 1rem 0;
    font-weight: 300;
}
.sec-l{
    padding: 0rem 0;
}
.black-car img{
    width: 100%;
    padding: 2rem 0 0 0;
}
.btn-3 input{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: .4rem 5rem;
    color: #fff;
    font-size: 15px;
}
.btn-3{
    padding: 0rem 0 .5rem 0;
}
.btn-4 input{
    background-color: transparent;
    border: 3px solid #303030;
    border-radius: 4px;
    padding: .4rem 4.2rem;
    color: #fff;
    font-size: 15px;
}
.sec-r{
    padding: 4rem 0;
}
.btn-5 input{
    background-color: transparent;
    border: 3px solid #303030;
    border-radius: 4px;
    padding: .4rem 4.2rem;
    color: #fff;
    font-size: 15px;
}
.btn-5{
    padding: 0.1rem 0 2.5rem 0;
}
.btn-6 input{
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 4px;
    padding: .4rem 4.2rem;
    color: #fff;
    font-size: 15px;
    margin: 0 auto;
    display: block;
}
.btn-6{padding: 1rem 0;}
.btn-7{padding: 0rem 0 3rem 0;}
.btn-7 input{
    background-color: #303030;
    border: 3px solid #303030;
    border-radius: 4px;
    padding: .4rem 5.8rem;
    color: #fff;
    font-size: 15px;
    margin: 0 auto;
    display: block;
}
.btn-7 input:hover{
    background-color: #252525;
    color: #fff;
    transition: 0.8s;
}
.btn-6 input:hover{
    background-color: #fff;
    color: #303030;
    transition: 0.8s;
}
/* ENTERIOR */
.enterior{
    background-image: url(./img/entirior\ copy.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.back-side{
    padding: 13rem 0;
    display: block;
    padding: 3rem 0 3rem 76rem;
}
.back-side h1{
    padding: 1rem 0 0 0;
    font-size: 2rem;
    color: #fff;
}
.back-side p{
    color: #fff;
    padding: 1rem 0 1rem 0;
}
.back-side i{
    font-size: 40px;
    color: #fff;
}
.back-side p{
    padding: 2rem 0;
}
.last-img img{
    width: 100%;
    padding: 10rem 0 1rem 0;
}
.col-50{
    width: 50%;
}
.uper-side h1{
    color: #303030;
    font-size: 30px;
    padding: 16rem 0rem 1rem 10rem;
    text-align: center;
}
.last-btn{
    padding: 0rem 0rem 0rem 20rem;
}
.last-p{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0 5rem 0;
}
